:root {
    /*LIGHT*/
    --text-secondary: #3b3b3b;
    --text-primary: 43, 43, 43;
    --highlight: #81794c;
    --navbar-bg: #c7c7c7;
    --bg-color: #f5f5f5;
    --warning: #ffe924;
    --card-bg: #929292;
    --accent: #836400;
    --hover: #6e6331;
}

.dark {
    /*DARK*/
    --text-primary: 245, 245, 245;
    --text-secondary: #b4b4b4;
    --navbar-bg: #1a1a1a;
    --bg-color: #0e0e0e;
    --card-bg: #414141;
    --warning: #967800;
    --accent: #ecc134;
}

:root {
    font-family: 'Courier New', Courier, monospace, 'IBM Plex Sans', system-ui, Avenir, Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    width: 100vw !important;
    margin: 0 !important;
    font-synthesis: none;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
}

body,
#root {
    background-color: var(--bg-color);
    color: rgb(var(--text-primary));
    margin: 0 !important;
    place-items: left;
}
