.embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    position: relative;
    --slide-size: 20%;
    margin: auto;
    width: 100%;
}
@media (max-width: 761px) {
    .embla {
        --slide-size: 40%;
    }
}
@media (max-width: 481px) {
    .embla {
        --slide-size: 100%;
    }
}
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    margin-left: calc(var(--slide-spacing) * -1);
    touch-action: pan-y pinch-zoom;
    display: flex;
}
.embla__slide {
    padding-left: var(--slide-spacing);
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
}
.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    height: var(--slide-height);
    justify-content: center;
    border-radius: 1.8rem;
    align-items: center;
    user-select: none;
    font-weight: 600;
    font-size: 4rem;
    display: flex;
}

.embla__buttons {
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    position: absolute;
    display: flex;
    width: 100%;
    top: 50%;
    left: 0;
}

.embla__button {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.2s ease;
    justify-content: center;
    pointer-events: auto;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    border: none;
    height: 40px;
    width: 40px;
}

.embla__button:hover {
    background: rgba(255, 255, 255, 1);
}

.embla__button--prev {
    margin-left: 0.5rem;
}

.embla__button--next {
    margin-right: 0.5rem;
}
