.card {
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 10px;
    height: 20vw;
    width: 30vw;
}
.card-inner {
    background-color: var(--card-bg);
    border: 2px dashed var(--accent);
    justify-content: center;
    flex-direction: column;
    place-content: center;
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 100%;
}
.card-image > img {
    border-radius: 20px 0;
}
.card-ratings {
    border-radius: 0 20px;
}
.card-desc {
    text-align: center;
}
