@media (prefers-color-scheme: dark) {
    .Auth {
        /*DARK*/
        --text-primary: 255, 255, 255;
        --text-secondary: #b4b4b4;
        --navbar-bg: #1a1a1a;
        --bg-color: #0e0e0e;
        --warning: #967800;
        --card-bg: #414141;
        --accent: #ffd447;
    }
}

@media (prefers-color-scheme: light) {
    .Auth {
        /*LIGHT*/
        --text-secondary: #3b3b3b;
        --text-primary: 43, 43, 43;
        --navbar-bg: #c7c7c7;
        --highlight: #f7e893;
        --bg-color: #f5f5f5;
        --warning: #ffe924;
        --card-bg: #929292;
        --accent: #b88d00;
        --hover: #6e6331;
    }
}

.Auth {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-page {
    width: fit-content;
    height: fit-content;
    min-height: 40vh;
    padding: 20px;
    background-color: var(--navbar-bg);
    color: rgb(var(--text-primary));
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.auth-inner {
    background-color: var(--card-bg);
    border: 2px var(--accent) dashed;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.auth-form {
    flex-direction: column;
    display: flex;
    width: 300px;
    gap: 1rem;
}

.auth-form input {
    border: 1px solid var(--text-secondary);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
}

.auth-form button {
    color: rgb(var(--text-primary));
    background-color: var(--accent);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
}

.auth-form button:hover {
    background-color: var(--hover);
}

.auth-page span {
    text-align: center;
}

.auth-page span a {
    color: var(--accent);
    cursor: pointer;
}
